* {
    box-sizing: border-box;
    font-size: 10px;
}

body {
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container {
    background-color: #fe9b25;
    border-radius: 8px;
    border: 1px solid orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 300px;
    height: 400px;
    box-shadow: 0px 20px 50px #ffa200;
}

.login-form {
    /* background-color: #eaeaea; */
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 80%;
}

.header {
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
}

.input-field {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px; 
}

.input-field input {
    position: relative;
    margin: 0px;
    background-color: #fe9b25;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

input {
    font-size: 14px;
    padding: 5px;
    line-height: 16px;
    width: 100%;
    
}

.submit {
    width: 100%;

}

.input-field label {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-size: 12px;
    border-radius: 8px;
}